@charset "UTF-8";
/* @import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Montserrat:wght@400;500&family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Montserrat:wght@400;500&family=NTR&family=Raleway:wght@300;400;500;600;700&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Montserrat:wght@400;500&family=Mulish:wght@200&family=NTR&family=Nunito:wght@200;300;400;500&family=Poppins:wght@100;300;400;600&family=Raleway:wght@300;400;500;600;700&display=swap');

*{
	-webkit-tap-highlight-color: transparent;
	outline:none;
}

body, #root {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* background-color: #081c20; */  /* #ffc0cb6b; */
	background-image: linear-gradient(45deg, #000201, rgb(2 102 102));
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	scroll-behavior: smooth;	
	width:100vw;
	height:100vh;	
}

